<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{{ SITENAME }}, {{ TAGLINE }}{% endblock meta_description %}">

    {% if FEED_ALL_ATOM %}
        <link rel="alternate"  href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }} // {{ TAGLINE }}{% endblock title %}</title>
    {% endblock head %}

    {% if FAVICON_URL %}
    <link href="{{ FAVICON_URL }}" rel="icon">
    {% endif %}

    {% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pure.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
    <!--<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/javascript/styles/style.css">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/javascript/styles/timesheet.css">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/javascript/styles/timesheet-white.css">-->
    {% endblock %}

    {% block head_js %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <!--<script src="{{ SITEURL }}/javascript/script/timesheet.min.js" type="text/javascript"></script>-->
    <!--<script type="text/javascript" src="{{ SITEURL }}/javascript/script/lib.js"></script>-->
    <!--<script type="text/javascript" src="{{ SITEURL }}/javascript/script/main.js"></script>-->
    {% endblock %}
</head>

<body>
    <div class="pure-g-r" id="layout">
        <div class="sidebar pure-u">
            <div class="cover-img" style="background-image: url('{% block sidebar %}{{ COVER_IMG_URL }}{% endblock %}')">
                <div class="cover-body">
                    <header class="header">
                        <hgroup>
                            {% if PROFILE_IMG_URL %}
                            <img class="avatar" src="{{ PROFILE_IMG_URL }}">
                            {% endif %}
                            <h1 class="brand-main"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                            <p class="tagline">{{ TAGLINE }}</p>
                            {% for title, link in MENUITEMS %}
                                <p class="links"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></p>
                            {% endfor %}
                                <p class="social">
                            {% for title, link in SOCIAL %}
                                    <a href="{{ link }}", target="_blank">
                                        <i class="icon-{{ title }}" style="font-size: 32px;"></i>
                                    </a>
                            {% endfor %}
                                </p>
                        </hgroup>
                    </header>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script>
        var $top = $('.go-top');

        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $top.fadeIn(200);
            } else {
                $top.fadeOut(200);
            }
        });

        // Animate the scroll to top
        $top.click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 300);
        })

        // Makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        $('body').on('click', 'a[href="#"]', function(event) {
            event.preventDefault();
        });
    </script>
    {% include 'analytics.html' %}
</body>
</html>
